<div class="center row no_team">
  <% if current_user.my_teams.present? %>
    <h5>Your Teams</h5>
    <div class="row">
      <ul class="collection col m4 offset-m4 s10 offset-s1">
        <% current_user.my_teams.each do |t| %>
          <li class="collection-item dismissable">
            <div>
              <%= t.slug %>
              <a href="/<%= t.slug %>" class="secondary-content">
                <i class="material-icons">call_made</i>
              </a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <a class="btn" href="#add_team_modal">New Team</a>
    </div>
  <% else %>
    <h5>You have not created any teams yet</h5>
    <h5>Create one now and empower your team!</h5>
    <a class="btn" href="#add_team_modal">New Team</a>
  <% end %>
</div>

<div class="center row no_invitation">
  <% if @invitations.present? %>
  <h5>Your Invitations</h5>
  <div class="row">
    <ul class="collection col m4 offset-m4 s10 offset-s1">
      <% @invitations.each do |invitation| %>
        <li class="collection-item dismissable">
          <div class="row">
            <%= form_tag("team_users", :method => :post, class: "col s12 accept_user_form") do %>
              <div class="row">
                <div class="input-field col s12">
                  <strong>Team</strong>: <%= invitation.team.slug %>
                  <%= hidden_field(:team_user, :team_id, value: invitation.team_id) %>
                  <%= hidden_field(:team_user, :email, value: invitation.email) %>
                  <%= button_tag :submit, class: "btn-floating grey pulse" do %>
                    <i class='material-icons'>add</i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <% else %>
    <h5>You have not any invitation yet</h5>
  <% end %>
</div>
